* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  height: 100vh;
}

header {
  display: flex;
  width: 100%;
  height: 10vh;
  margin: auto;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 0 5% 0 5%;
  background-color: rgb(255, 255, 255, 0.3);
}

.logo-container, .nav-links {
  display: flex;
}

.logo-container {
  flex: 2;
}

.logo-container img {
  width: 15%;
}

nav {
  flex: 3;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

main {
  margin-top: 10vh;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 55px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 10px;
  font-size: 27px;
  color: #3a3a3d;
}

.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.cover img {
  height: 100%;
  animation: drop 1.5s ease;
}


@keyframes drop {
  0% {
      opacity: 0;
      transform: translateY(-80px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.prvi {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  text-align: right;
  padding: 0 15% 0 5%;
  background-color: #610054;
  color: white;
}

.tekst1 {
  flex: 3;
}

.tekst1 h2 {
  font-size: 48px;
  font-weight: 500;
}

.tekst1 p {
  font-size: 25px;
  margin-top: 5px;
}

.ikona1 {
  flex: 1;
}

.ikona1 i {
  font-size: 10rem;
}

.tekst1 button {
  border: none;
  background: #1c0047;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.tekst1 button:hover {
  border: 2px solid white;
  background: transparent;
}


.drugi {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  text-align: left;
  padding: 0 15% 0 15%;
  color: #3a3a3d;
}

.tekst2 {
  flex: 3;
}

.tekst2 h2 {
  font-size: 48px;
  font-weight: 500;
}

.tekst2 p {
  font-size: 25px;
  margin-top: 5px;
}

.ikona2 {
  flex: 1;
}

.ikona2 i {
  font-size: 10rem;
  margin-left: 40%;
  color: #610054;
}

.tekst2 button {
  border: none;
  background: #aeaec2;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.link2 {
  color: #610054;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
}

.tekst2 button:hover {
  border: 2px solid #610054;
  background-color: transparent
}


.treci {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  text-align: right;
  padding: 0 15% 0 5%;
  background-color: #610054;
  color: white;
}

.tekst3 {
  flex: 3;
}

.tekst3 h2 {
  font-size: 48px;
  font-weight: 500;
}

.tekst3 p {
  font-size: 25px;
  margin-top: 5px;
}

.ikona3 {
  flex: 1;
}

.ikona3 i {
  font-size: 10rem;
}

.tekst3 button {
  border: none;
  background: #1c0047;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.tekst3 button:hover {
  border: 2px solid white;
  background: transparent;
}

.link3 {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 40px 10px 40px;
}

footer {
  text-align: center;
  align-content: center;
  vertical-align: auto;
  color: white;
  background-color: #13002e;
  height: 20vh;
}

footer p {
  padding-top: 8vh;
  font-size: 20px;
}



.wrapper1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.main-div1 {
  align-items: center;
  margin: auto;
  text-align: center;
  padding-bottom: 20%;
  color: #1c0047;
  animation: fade 1s ease;
}

.ikona1 {
  font-size: 10rem;
}

h2 {
  font-size: 5rem;
}

p {
  font-size: 2.5rem;
}

.input1 {
  width: 100%;
}

.active {
  display: none;
}

@keyframes fade {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.display1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  animation: fade 1.5s ease;
  background-color: #1c0047;
  color: white;
  padding: 7vh;
}

.display1 h3 {
  text-transform: uppercase;
  font-size: 2.8rem;
  padding: 15px;
  font-weight: 500; 
}

.lista {
  font-size: 1.3rem;
  padding: 5px;
}

.gumb1 {
  border: none;
  background: white;
  color: #1c0047;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.gumb1:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}


.wrapper2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.main-div2 {
  align-items: center;
  margin: auto;
  text-align: center;
  padding-bottom: 20%;
  color: #1c0047;
  animation: fade 1s ease;
}

.cd {
  font-size: 10rem;
}

h2 {
  font-size: 5rem;
}

p {
  font-size: 2.5rem;
}

.input2 {
  width: 100%;
}

.active {
  display: none;
}

.display2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  animation: fade 1.5s ease;
  background-color: #1c0047;
  color: white;
  padding: 7vh;
  margin-bottom: 30vh;
}

.display2 h3 {
  text-transform: uppercase;
  font-size: 2.8rem;
  padding: 15px;
  font-weight: 500; 
}

.lista {
  font-size: 1.3rem;
  padding: 5px;
}

.gumb2 {
  border: none;
  background: white;
  color: #1c0047;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.gumb2:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}


.wrapper3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.main-div3 {
  align-items: center;
  margin: auto;
  text-align: center;
  padding-bottom: 20%;
  color: #1c0047;
  animation: fade 1s ease;
}

.slusalice {
  font-size: 10rem;
}

h2 {
  font-size: 5rem;
}

p {
  font-size: 2.5rem;
}

.input3 {
  width: 100%;
}

.active {
  display: none;
}

.display3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  animation: fade 1.5s ease;
  background-color: #1c0047;
  color: white;
  padding: 7vh;
  margin-bottom: 30vh;
  max-width: 60%;
  text-align: center;
}

.display3 h3 {
  text-transform: uppercase;
  font-size: 2.8rem;
  padding: 15px;
  font-weight: 500; 
}

.lista {
  font-size: 1.3rem;
  padding: 5px;
}

.gumb3 {
  border: none;
  background: white;
  color: #1c0047;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.gumb3:hover {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

